.paginationBlock ul {
    display: flex;
}

.dflex{
    display: flex;
    align-items: center;
}

.buttonInLi {
    background-color: #d9d9d9;
    border: none;
    font-size: 16px;
  }

.pagination {
    display: inline-block;
    align-items: flex-end
}

.pagination > li {
}

.pagination button {

    background: none;
    border: 2px solid #5d0cff;
    border-radius: 10px;
    margin: 0px 3px;
    color: #e2e2e2;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination button.active {
    border: 2px solid #e2e2e2;
    border-radius: 10px;
}

.pagination button:hover:not(.active) {  
    opacity: 0.8;
    cursor: pointer;
}

li {
    list-style-type: none;
    cursor: pointer;
}

button.disabled {
    pointer-events: none;
    cursor: default;
    color: #888;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

a.disabled {
    pointer-events: none;
  }

.threeDotsMinus5::before,
.threeDotsPlus5::before {
    content: attr(defaultText);
    padding: 0 10px;
    color: #e2e2e2;
    font-size: 20px;
}
.threeDotsMinus5:hover::before,
.threeDotsPlus5:hover::before {
    content: attr(hoverText);
    background-color: #a1a1a1;
    border-radius: 10px;
    padding: 0 10px;

}

.pagination .arrow {
    border: none;
    padding: 10px 5px;
}