.todo {
    display: flex;
    background-color: #ec8080;
    margin: 5px 0;
    justify-content: space-between;
    padding-right: 15px;
}

.todo:hover {
    background-color: coral;
}

.btnRemove {
    height: 20px;
    margin-top: 15px;
}

ul {
    padding: 0;
}

.inputBtnBlock {
    display: flex;
    padding: 14px 0;
}