.select {
    background-color: #161a2b;
    border: 2px solid #5d0cff;
    border-radius: 10px;
    padding: 11px 10px;
    color: #e2e2e2;
    appearance: none; /* Hide default arrow icon */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .select:focus {
    outline: none; /* Remove focus outline */
  }
  
  .select option {
    background-color: #161a2b;
    color: #e2e2e2;
  }
  